---
import Button from "../ui/Button.astro";
import Heading from "../ui/Heading.astro";
import Tools from "../portfolio/Tools.astro";
import { Icon } from "astro-icon/components";
import Hobbies from "../portfolio/Hobbies.astro";
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const {
  profileAlt,
  profileLink,
  profileImage,
  profileName,
  email,
  emailIconName,
  contactSectionButtonText,
} = staticData.data;
---

<section
  class="scroll-m-16 px-8 max-sm:px-4 py-8"
  id="home"
>
  <!-- HERO -->
  <div
    class="mx-auto mb-4 h-96 w-full max-w-7xl rounded-2xl bg-linear-to-r from-mint-300 dark:from-mint-600 to-mint-50 dark:to-mint-200/5 p-[.2rem] max-md:h-auto"
  >
    <div
      class="group relative flex h-full items-center justify-center gap-8 overflow-hidden rounded-2xl bg-linear-to-tr from-riptide-100 to-white p-4 dark:bg-linear-to-r dark:from-mint-950 dark:to-zinc-950 max-sm:flex-col"
    >
      <div class="aspect-square h-4/5 max-md:size-32">
        <div class="relative flex w-full items-center overflow-hidden rounded-full p-[2px]">
          <div class="relative flex w-full rounded-full bg-mint-900">
            <div
              class="w-full aspect-square rounded-full bg-center bg-cover"
              style={`background-image: url(${profileImage})`}
              aria-label={profileAlt}
            >
              <a
                href={profileLink}
                class="flex h-full w-full"
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex h-full w-7/12 flex-col justify-center gap-4 max-md:w-full">
        <h1 class="text-4xl font-black dark:text-white">
          {profileName} 游녦
        </h1>

        <p class="text-lg font-semibold dark:text-gray-200">
          Estudiante de <b>Ingenier칤a de Sistemas</b> en la Universidad El Bosque.
          Este portafolio muestra mis conocimientos actuales en desarrollo web,
          bases de datos y programaci칩n.
        </p>

        <div class="flex gap-4 max-sm:flex-col">
          <Button
            link={"mailto:" + email}
            text={contactSectionButtonText}
            iconName={emailIconName}
          />
          <Button
            link={profileLink}
            text="쯈ui칠n soy?"
            iconName="person"
            variant="dark"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- GRID -->
  <div class="mx-auto grid max-w-7xl grid-cols-2 gap-4 md:grid-cols-4">

    <!-- HOBBIES -->
    <div class="rounded-2xl bg-linear-to-r from-riptide-200 to-mint-200 p-6 dark:bg-zinc-800">
      <Heading text="M치s all치 del c칩digo" level={2} />
      <div class="mt-4">
        <Hobbies />
      </div>
    </div>

    <!-- TECH STACK -->
    <div class="col-span-2 rounded-2xl bg-linear-to-r from-mint-300 to-mint-50 p-[.2rem]">
      <article class="rounded-2xl bg-white dark:bg-mint-950 p-6">
        <div class="flex items-center gap-4">
          <Icon name="dashboard" class="text-2xl text-mint-500" />
          <Heading text="Tech" textGradient="Stack" level={3} />
        </div>
        <div class="mt-4">
          <Tools />
        </div>
      </article>
    </div>

   <div
  class="col-span-2 row-span-2 rounded-2xl bg-linear-to-r from-mint-300 dark:from-mint-600 to-mint-50 dark:to-mint-200/5 p-[.2rem] hover:to-mint-300/30 dark:hover:to-mint-600/30 md:col-start-1 md:row-start-1"
>
  <article
    class="group relative flex h-full flex-col justify-start overflow-hidden rounded-2xl bg-linear-to-br from-riptide-100 to-white dark:from-mint-950 dark:to-zinc-950 p-8 transition-all hover:shadow-[0_20px_50px_rgba(13,188,130,0.4)]"
  >
    <div class="flex items-center gap-4">
      <Icon
        class="text-3xl dark:text-white text-mint-500"
        name="youtube"
      />
      <Heading text="Sobre m칤" textGradient="Video" level={3} />
    </div>

    <div class="mt-6 flex justify-center items-center flex-1">
      <iframe
        class="w-full max-w-md aspect-video rounded-2xl shadow-xl"
        src="https://www.youtube.com/embed/LlyyF5Er8us"
        title="Presentaci칩n personal"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

  </article>
</div>



  </div>
</section>
